
      * {
        bottom: 0;
        margin: 0;
        padding: 0;

        font-family: sans-serif;
      }
      .social-media {
        display: flex;
        justify-content: center;
      }

      .social-icon {
        height: 46px;
        width: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.45rem;
        color: #333;
        border-radius: 50%;
        border: 1px solid #333;
        text-decoration: none;
        font-size: 1.1rem;
        transition: 0.3s;
      }

      .social-icon:hover {
        color: #4481eb;
        border-color: #4481eb;
      }
      .container {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;
      }
      .form-box {
        background-image: url("");
        width: 380px;
        height: 480px;
        border-radius: 20px;
        margin: 6% auto;
        position: relative;
        padding: 5px;
        overflow: hidden;
      }
      .button-box {
        width: 220px;
        margin: 35px auto;
        position: relative;
        box-shadow: 0 0 20px 3px #9afbfa;
        border-radius: 30px;
      }
      .toggle-btn {
        padding: 10px 30px;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        outline: none;
        position: relative;
      }
      #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(to right, #9afbfa, #d071f9);
        border-radius: 35px;
        transition: 0.5s;
      }
      .social-media {
        margin: 30px auto;
        text-align: center;
      }
      .social-media img {
        width: 30px;
        margin: 0 10px;
        box-shadow: 0 0 10px 0 #f7f7f7;
        border-radius: 50%;
        cursor: pointer;
      }
      .login-form {
        border: 0px solid;
        top: 180px;
        position: absolute;
        width: 280px;
        transition: 00.5s;
      }
      .form-field {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid rgb(0, 0, 0);
        outline: none;
        background: transparent;
      }
      .submit {
        width: 85%;
        padding: 10px 35px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right, #9afbfa, #d071f9);
        border: 0;
        outline: none;
        border-radius: 25px;
      }
      .checkbox {
        margin: 30px 5px;
      }
      .span {
        color: #777;
        font-size: 12px;
        bottom: 64px;
        position: absolute;
      }
      #login {
        left: 50px;
      }
      #register {
        left: 450px;
      }
      .login-form input {
        color: #181719;
      }